.root {
  width: 100%;
  padding: 40px 20% 0 20%;
  box-sizing: border-box;

  .bookmark {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}
